<section id="loginForms">
    <p>You're not logged in!</p>
    <form id="login" method="post" action="/login">
        <input name="username" type="text" placeholder="username" required>
        <input name="password" type="text" placeholder="password" required>
        <button type="submit">Log in</button>
    </form>

    <p>Don't have account?</p>
    <form id="accountCreation" method="post" action="/createAccount">
        <input name="username" type="text" placeholder="username" required>
        <input name="password" type="text" placeholder="password" required>
        <button type="submit">Create silly account</button>
    </form>
</section>